/*
.toTop{
  position:fixed;
  bottom:65px;
  right:137px;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius:50%;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.4);
  >img {
    width: 30px;
  }
}*/
/*!*------- 第一屏 -------*!
#homePage #section0{
  position:relative;
  background:url('/image/home-banner.png') top center no-repeat;
  -webkit-background-size:100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100vh;

  //background-color: #eeecef;
  .nav{
    height: 88px;
    background-color: #fff;
    .left_center(2);
    top:50px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    >h1{
      left:99999999px;
      position:absolute;
    }
    >img{
      .top_center(2);
      left:48px;
    }
    >ul{
      float:right;
      >li{
        float:left;
        width: 130px;
        height: 100px;
        line-height: 88px;
        text-align: center;
        font-size: 16px;
        color:#444;
      }
      >li.current{
        background-color: #1772c3;
        color:#fff;
        border-bottom: 4px solid #ff91200;
        box-sizing: border-box;
      }
    }

  }
  .msg{
    position:absolute;
    right:340px;
    top:625px;
    >h4{
      color:#f7f7f7;
      font-size: 30px;
      font-weight: 400;
      letter-spacing:5px;
      >span{
        font-size:42px;
      }
    }
    >p{
      color:#f7f7f7;
      font-size: 16px;
    }

  }
}

!*------- 第二屏 -------*!
#homePage #section1{
  background: #fff;
  padding:10vh 0;
  .service{
    >h4{
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      line-height: 34px;
    }
    >p{
      text-align: center;
      margin-top: 12px;
    }
    >div.con{
      position:relative;
      height: 660px;
      margin-top: 73px;
      background:url('/image/service.png') top center no-repeat;
      >img.p{
        .center(2);
        margin-left: 13px;
      }
      .left{
        width: 50%;
        height: 100%;
        float:left;
        position:relative;
        >ul{
          >li{
            position:absolute;
            >p{
              float:left;
              .top_center(2);
              left:190px;
              font-size: 16px;
              color:#666;
              text-align: right;
            }
          }
          >li:nth-child(1){
            width: 264px;
            top:45px;
            right:45px;
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s ;
          }
          >li:nth-child(2){
            width: 359px;
            top:278px;
            right:164px;
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s;
          }
          >li:nth-child(3){
            width: 370px;
            right:50px;
            top:536px;
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s;
          }
        }
      }
      .right{
        width: 50%;
        height: 100%;
        float:left;
        position:relative;
        >ul{
          >li{
            position:absolute;
            >img{
              float:right;
            }

            >p{
              .top_center(2);
              left:0px;
              font-size: 16px;
              color:#666;
            }
          }
          >li:nth-child(1){
            width: 290px;
            top:37px;
            left:79px;
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s;
          }
          >li:nth-child(2){
            width: 331px;
            top:288px;
            left:209px;
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s;
          }
          >li:nth-child(3){
            width: 314px;
            left:79px;
            top:538px;
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s ;
          }
        }
      }
    }
    >div.con.join{
      .left{
        >ul{
          >li{
          }
          >li:nth-child(1){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s ;
          }
          >li:nth-child(2){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s 0.5s;
          }
          >li:nth-child(3){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s 1s;
          }
        }
      }
      .right{
        >ul{
          >li{
          }
          >li:nth-child(1){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s 1s;
          }
          >li:nth-child(2){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s 0.5s;
          }
          >li:nth-child(3){
            -webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            transform: translate(0px,0);
            transition: all 0.5s ;
          }
        }
      }
    }
    >div.con.leave{
      .left{
        >ul{
          >li{
          }
          >li:nth-child(1){
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s 0.5s;
          }
          >li:nth-child(2){
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s 0.5s;
          }
          >li:nth-child(3){
            -webkit-transform: translate(-1200px,0);
            -moz-transform: translate(-1200px,0);
            -ms-transform: translate(-1200px,0);
            -o-transform: translate(-1200px,0);
            transform: translate(-1200px,0);
            transition: all 0s 0.5s;
          }
        }
      }
      .right{
        >ul{
          >li{
          }
          >li:nth-child(1){
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s 0.5s;
          }
          >li:nth-child(2){
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s 0.5s;
          }
          >li:nth-child(3){
            -webkit-transform: translate(1200px,0);
            -moz-transform: translate(1200px,0);
            -ms-transform: translate(1200px,0);
            -o-transform: translate(1200px,0);
            transform: translate(1200px,0);
            transition: all 0s 0.5s;
          }
        }
      }
    }
  }
}

!*------- 第三屏 -------*!
#homePage #section2{

  background:url('/image/bj-choose.png') top center no-repeat;
  -webkit-background-size:100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  padding:10vh 0;
  .choose{
    color:#fff;
    >h4{
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      line-height: 34px;
      color:#fff;
    }
    >p{
      text-align: center;
      margin-top: 12px;
      color:#fff;
    }
    >.con{
      >ul{
        margin-top: 84px;
        >li{
          width: 33.3%;
          height: 290px;
          float:left;
          text-align: center;
          >img{
            width: 108px;
            height: 108px;
            margin-bottom: 36px;
          }
          >h4{
            font-size: 24px;
            font-weight: 400;
          }
          >p{
            width: 230px;
            margin:0 auto;
            font-size: 14px;
            margin-top: 12px;
            line-height: 22px;
          }
        }
        >li:nth-child(4){
          margin-top: 92px;
        }
        >li:nth-child(5){
          margin-top: 92px;
        }
        >li:nth-child(6){
          margin-top: 92px;
        }
      }
    }
  }
}

!*------- 第四屏 -------*!
#homePage  #section3{

  .container{
    width: 100%;
    .partners{
      padding-top: 10vh;
      color:#444;
      padding-top: 80px;
      background-color: #fff;
      height: 80vh;
      box-sizing: border-box;
      >h4{
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        line-height: 34px;
        color:#4444;
      }
      >p{
        text-align: center;
        margin-top: 12px;
        color:#444;
      }
      >.con{
        ul{
          margin-top: 60px;
          li{
            width: 290px;
            height: 150px;
            border: 1px solid #f0f0f0;
            border-radius:3px;
            float:left;
            box-sizing: border-box;
            margin-right: 13px;
            background-color: #fcfcfc;
            position:relative;
            img{
              .center(2);
            }
          }
          li:hover{
            background-color: #fff;
          }
          li:nth-child(4n){
            margin-right: 0;
          }
        }
      }
    }
    .foot_nav{
      background-color: #333;
      height: 20vh;
    }
  }
}*/
.homePage {
  overflow: hidden;
}
.homePage > .banner > img {
  width: 100%;
}
.homePage > .service {
  padding-top: 40px;
  background-color: #fff;
}
.homePage > .service > h3 {
  text-align: center;
  color: #444;
  font-size: 30px;
}
.homePage > .service > p {
  text-align: center;
  color: #999;
}
.homePage > .service > .container {
  margin-top: 52px;
}
.homePage > .service > .container > ul {
  list-style: none;
}
.homePage > .service > .container > ul > li {
  list-style: none;
  height: 230px;
  padding: 0;
  padding-left: 20px;
}
.homePage > .service > .container > ul > li .con {
  width: 340px;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.homePage > .service > .container > ul > li .con > img {
  float: left;
}
.homePage > .service > .container > ul > li .con > p {
  float: left;
  font-size: 18px;
  color: #999;
  margin-left: 30px;
}
.homePage > .select {
  padding-top: 40px;
  background-color: #fff;
}
.homePage > .select > h3 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.homePage > .select > p {
  text-align: center;
  color: #fff;
}
.homePage > .select > .container {
  margin-top: 52px;
}
.homePage > .select > .container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.homePage > .select > .container > ul > li {
  list-style: none;
  padding: 0 30px;
}
.homePage > .select > .container > ul > li .con {
  height: 252px;
  text-align: center;
  padding-top: 110px;
}
.homePage > .select > .container > ul > li .con > img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
}
.homePage > .select > .container > ul > li .con > h4 {
  color: #fff;
}
.homePage > .select > .container > ul > li .con > p {
  font-size: 18px;
  color: #fff;
}
@media (max-width: 768px) {
  .homePage .banner > .msg {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 999999;
  }
  .homePage .banner > .msg > h4 {
    color: #1772c3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
  }
  .homePage .banner > .msg > h4 > span {
    font-size: 18px;
  }
  .homePage .banner > .msg > p {
    color: #1772c3;
    font-size: 16px;
  }
  .homePage > .service {
    padding-top: 10px;
    background-color: #fff;
  }
  .homePage > .service > h3 {
    text-align: center;
    color: #444;
    font-size: 18px;
  }
  .homePage > .service > p {
    text-align: center;
    color: #999;
  }
  .homePage > .service > .container {
    margin-top: 26px;
  }
  .homePage > .service > .container > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .homePage > .service > .container > ul > li {
    list-style: none;
    height: 120px;
    padding: 0;
    position: relative;
    /*border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;*/
  }
  .homePage > .service > .container > ul > li .con {
    width: 230px;
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .homePage > .service > .container > ul > li .con > img {
    float: left;
    width: 55px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .homePage > .service > .container > ul > li .con > p {
    float: left;
    font-size: 15px;
    color: #999;
    left: 55px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .homePage > .select {
    padding-top: 10px;
    background-color: #fff;
    background: url('/image/bj-choose.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .homePage > .select > h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  .homePage > .select > p {
    text-align: center;
    color: #fff;
  }
  .homePage > .select > .container > ul > li {
    padding: 0 48px;
  }
  .homePage > .select > .container > ul > li .con {
    height: 220px;
    padding-top: 84px;
  }
  .homePage > .select > .container > ul > li .con > h4 {
    font-size: 16px;
  }
  .homePage > .select > .container > ul > li .con > img {
    width: 75px;
  }
  .homePage > .select > .container > ul > li .con > p {
    font-size: 15px;
    margin-left: 0;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width: 992px) {
  .homePage .banner > .msg {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 999999;
  }
  .homePage .banner > .msg > h4 {
    color: #1772c3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
  }
  .homePage .banner > .msg > h4 > span {
    font-size: 18px;
  }
  .homePage .banner > .msg > p {
    color: #1772c3;
    font-size: 16px;
  }
  .homePage > .service > .container {
    margin-top: 26px;
  }
  .homePage > .service > .container > ul > li {
    height: 155px;
  }
  .homePage > .service > .container > ul > li:nth-child(5) {
    height: 200px;
  }
  .homePage > .select {
    background: url('/image/bj-choose.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1200px) {
  .homePage {
    width: 100%;
  }
  .homePage .banner {
    width: 100%;
    height: 100vh;
    background: url('/image/home-banner.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .homePage .banner > .msg {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  .homePage .banner > .msg > h4 {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .homePage .banner > .msg > h4 > span {
    font-size: 42px;
  }
  .homePage .banner > .msg > p {
    color: #f7f7f7;
    font-size: 16px;
  }
  .homePage .select {
    background: url('/image/bj-choose.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .homePage {
    width: 100%;
  }
  .homePage .banner {
    width: 100%;
    height: 100vh;
    background: url('/image/home-banner.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .homePage .banner > .msg {
    position: absolute;
    right: 200px;
    bottom: 40px;
  }
  .homePage .banner > .msg > h4 {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .homePage .banner > .msg > h4 > span {
    font-size: 42px;
  }
  .homePage .banner > .msg > p {
    color: #f7f7f7;
    font-size: 16px;
  }
  .homePage > .select {
    background: url('/image/bj-choose.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .homePage > .select > .container > ul > li .con {
    height: 300px;
  }
}
