.mass {
  overflow: hidden;
}
.mass > .banner > img {
  width: 100%;
}
.mass .service {
  background-color: #fff;
  padding-top: 80px;
}
.mass .service > h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  margin: 0;
}
.mass .service > p {
  text-align: center;
  margin-top: 12px;
  color: #999;
}
.mass .service > div.con {
  position: relative;
  margin-top: 120px;
}
.mass .service > div.con > .item {
  width: 100%;
  margin-bottom: 115px;
  height: 200px;
  position: relative;
}
.mass .service > div.con > .item > img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.mass .service > div.con > .item > img.right {
  right: 0;
}
.mass .service > img {
  display: none;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.mass > .select {
  padding-top: 40px;
  background-color: #fff;
}
.mass > .select > h4 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.mass > .select > p {
  text-align: center;
  color: #fff;
}
.mass > .select > .container {
  margin-top: 52px;
}
.mass > .select > .container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mass > .select > .container > ul > li {
  list-style: none;
}
.mass > .select > .container > ul > li .con {
  height: 255px;
  width: 150px;
  position: relative;
  text-align: center;
  padding-top: 125px;
  margin: 0 auto;
}
.mass > .select > .container > ul > li .con > img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
}
.mass > .select > .container > ul > li .con > span {
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 24px;
}
.mass > .select > .container > ul > li .con > h4 {
  color: #fff;
}
.mass > .select > .container > ul > li .con > p {
  font-size: 18px;
  color: #fff;
  width: 150px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .mass .banner > .msg {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 999999;
  }
  .mass .banner > .msg > h4 {
    color: #1772c3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
  }
  .mass .banner > .msg > h4 > span {
    font-size: 18px;
  }
  .mass .banner > .msg > p {
    color: #1772c3;
    font-size: 16px;
  }
  .mass .service {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mass .service > img {
    display: block;
  }
  .mass .service > h4 {
    text-align: center;
    color: #444;
    font-size: 18px;
  }
  .mass .service > p {
    text-align: center;
    color: #999;
    margin-top: -4px;
  }
  .mass .service > div.con {
    display: none;
  }
  .mass > .select {
    background: url('/image/bj-Serviceplan.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .mass > .select > h4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
  }
  .mass > .select > h4 > span {
    font-size: 18px;
  }
  .mass > .select > p {
    font-size: 12px;
    margin-top: 10px;
  }
  .mass > .select > .container {
    margin-top: 52px;
  }
  .mass > .select > .container > ul > li {
    list-style: none;
  }
  .mass > .select > .container > ul > li .con {
    height: 252px;
    text-align: center;
    padding-top: 120px;
  }
  .mass > .select > .container > ul > li .con > img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
  }
  .mass > .select > .container > ul > li .con > h4 {
    color: #fff;
  }
  .mass > .select > .container > ul > li .con > p {
    font-size: 14px;
    color: #fff;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width: 992px) {
  .mass .banner > .msg {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 999999;
  }
  .mass .banner > .msg > h4 {
    color: #1772c3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
  }
  .mass .banner > .msg > h4 > span {
    font-size: 18px;
  }
  .mass .banner > .msg > p {
    color: #1772c3;
    font-size: 16px;
  }
  .mass .service {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .mass .service > img {
    display: block;
  }
  .mass .service > h4 {
    text-align: center;
    color: #444;
    font-size: 30px;
  }
  .mass .service > p {
    text-align: center;
    color: #999;
  }
  .mass .service > div.con {
    display: none;
  }
  .mass > .select {
    background: url('/image/bj-Serviceplan.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1200px) {
  .mass {
    width: 100%;
  }
  .mass .banner {
    width: 100%;
    height: 100vh;
    background: url('/image/quality-banner.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .mass .banner > .msg {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  .mass .service > div.con {
    position: relative;
    margin-top: 30px;
  }
  .mass .service > div.con > .item {
    width: 100%;
    margin-bottom: 50px;
    height: 200px;
    position: relative;
  }
  .mass .service > div.con > .item > img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .mass .service > div.con > .item > img.right {
    right: 0;
  }
  .mass .select {
    background: url('/image/bj-Service-plan.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .mass {
    width: 100%;
  }
  .mass .banner {
    width: 100%;
    height: 100vh;
    background: url('/image/quality-banner.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .mass .banner > .msg {
    position: absolute;
    right: 200px;
    bottom: 40px;
  }
  .mass .banner > .msg > h4 {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .mass .banner > .msg > h4 > span {
    font-size: 42px;
  }
  .mass .banner > .msg > p {
    color: #f7f7f7;
    font-size: 16px;
  }
  .mass > .select {
    background: url('/image/bj-Service-plan.png') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .mass > .select > .container > ul > li .con {
    height: 300px;
  }
}
