



<div class="aboutUs">
    <div class="banner">
        <img src="/image/banner-3.png" class="hidden-md hidden-lg" alt="">
        <!--<div class="msg hidden-xs hidden-sm" >
            <h4><span>解决BUG</span>我们是专业的</h4>
            <p>Solve the bug, we are a professional</p>
        </div>-->
    </div>
    <div class="step ">
        <ul>
            <li>
                <div class="container">
                    <div class="info">
                        <h4>公司简介</h4>
                        <p>Company profile</p>
                    </div>
                    <div class="con" >
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;上海益等软件科技有限公司，专注于微信系统、企业管理系统、移动互联网APP软件技术研发、数据分析与支持，是国内商业系统平台建设和解决方案的服务提供商，为客户提供专业的商业策略咨询、移动互联网技术支持以及全面的推广运营方案，涉及领域包括生产型原厂商、密集型商业、医疗健康、科技创新领域等。从线上到线下，从前端到后端，益等软件为客户带来系统完整的商业解决方案，全面帮助客户构建和提升在互联网中的核心竞争力！</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;益等软件立足于上海，客户遍及全国。作为一家专业的上海软件开发公司，我们为您提供卓越品质的软件与服务。我们不断努力，无论您是追求精细管理、轻松协同办公，亦或是高效市场营销，益等软件的完善的技术服务都将是您的最佳选择。</p>
                    </div>
                    <img src="/image/about_1.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="info">
                        <h4>团队优势</h4>
                        <p>Team advantage</p>
                    </div>
                    <div class="con">
                        <h4>技术优势：</h4>
                        <p>针对网络应用架构的特点，开发设计按需制作，后台管理方便灵活，利用先进的软件技术及理念，研制开发高度模块化、工作流调整高度灵活的核心业务系统。</p>
                        <h4>人才优势：</h4>
                        <p>我们的团队由年轻充满朝气的UI设计师、H5、PHP等软件开发工程师组成。拥有多年的网站策划、网站建设、系统维护经验，包括网页设计、专业美工、网页制作、编程、方案策划、网络咨询等。主要项目负责人，经过专业的项目管理培训，有着极其丰富的项目管理经验和工程开发经验。为企业量身定制了各类大中小型网站开发方案，顶尖的设计开发团队是我们为客户提供一流服务品质的充分保证。</p>
                        <h4>管理优势：</h4>
                        <p> 公司严格按照现代化的企业制度来运作，建立完善了各项企业管理制度。确定了使命、目标、计划、岗位职责、过程与规程、质量标准和业绩的考核办法。完善的质量控制措施包括：流程管理、文挡管理、产品测试和服务保障体系等。</p>
                    </div>
                    <img src="/image/about_2.png">
                </div>
            </li>
        </ul>
    </div>
    <div class="company_info">
        <ul class="container">
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="con">
                    <img src="/image/addr_about.png">
                    <div class="text">
                        <p>公司地址</p>
                        <p>上海市浦东新区三林路424号410</p>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="con">
                    <img src="/image/email.png">
                    <div class="text">
                        <p>公司邮箱</p>
                        <p>hr@yidengshop.com</p>
                    </div>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="con">
                    <img src="/image/tel_about.png">
                    <div class="text">
                        <p>公司电话</p>
                        <p>400-810-888</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

