

<link rel="stylesheet" href="/css/cases.css">


<div class="cases">
    <div class="banner">
        <img src="/image/banner-3.png" class="hidden-md hidden-lg" alt="">
        <div class="msg hidden-xs hidden-sm" >
            <h4><span>以需求</span>定义您的软件</h4>
            <p>Demand To Customize Your Software    </p>
        </div>
    </div>
    <div class="swiper_con ">
        <div class="swiper_tab container">
            <ul class="clearfix">
                <li ng-class="{'current':index == 0}" ng-click="toggle(0)">经典案例</li>
                <li ng-class="{'current':index == 1}" ng-click="toggle(1)">移动端</li>
                <li ng-class="{'current':index == 2}" ng-click="toggle(2)">PC端</li>
            </ul>
        </div>
        <div class="swiper_content container">
            <!--<div class="item" >
                <div class="con">
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>-->
            <!-- <div class="swiper-container item">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul></div>
                    <div class="swiper-slide"><ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul></div>
                    <div class="swiper-slide"><ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul></div>
                </div>
            </div>-->
            <ks-swiper-container class="item " ng-show="index == 0" autoplay="2000" swiper="swiper">
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
            </ks-swiper-container>
            <ks-swiper-container class="item " ng-show="index == 1" autoplay="2000" swiper="swiper">
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
            </ks-swiper-container>
            <ks-swiper-container class="item " ng-show="index == 2" autoplay="2000" swiper="swiper">
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
                <ks-swiper-slide>
                    <ul class="clearfix">
                        <li>
                            <img src="/image/cases/1.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/2.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/3.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/4.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/5.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                        <li>
                            <img src="/image/cases/6.png">
                            <div class="con">
                                <h4>爱宠家园App</h4>
                                <p>益等软件为其重新定位品牌形象，制定产品设计风格，优化产品原型。在视觉设计的风格及配色上更具亲和力。</p>
                            </div>
                        </li>
                    </ul>
                </ks-swiper-slide>
            </ks-swiper-container>

        </div>
    </div>

</div>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,//可选选项，自动滑动
    })
</script>

