

<link rel="stylesheet" href="/css/home.css">
<style>
    /*---- 页面切换动画 ----*/


    /* ANIMATIONS
    ============================================================================= */

    /* leaving animations ----------------------------------------- */
    /* rotate and fall */
    @keyframes rotateFall {
        0%      { transform: rotateZ(0deg); }
        20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
        40%     { transform: rotateZ(17deg); }
        60%     { transform: rotateZ(16deg); }
        100%    { transform: translateY(100%) rotateZ(17deg); }
    }

    /* slide in from the bottom */
    @keyframes slideOutLeft {
        to      { transform: translateX(-100%); }
    }

    /* rotate out newspaper */
    @keyframes rotateOutNewspaper {
        to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
    }

    /* entering animations --------------------------------------- */
    /* scale up */
    @keyframes scaleUp {
        from    { opacity: 0.3; -webkit-transform: scale(0.8); }
    }

    /* slide in from the right */
    @keyframes slideInRight {
        from    { transform:translateX(100%); }
        to      { transform: translateX(0); }
    }

    /* slide in from the bottom */
    @keyframes slideInUp {
        from    { transform:translateY(100%); }
        to      { transform: translateY(0); }
    }

    .ng-enter       { z-index: 8888; }
    .ng-leave       { z-index: 9999; }

    /* page specific animations ------------------------ */

    /*!* home -------------------------- *!
    .page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
    .page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

    !* about ------------------------ *!
    .page-about.ng-enter        { animation:slideInRight 0.5s both ease-in; }
    .page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }*/

    /* contact ---------------------- */
    .testAnimate.ng-leave{ animation: slideOutLeft .5s both ease-in; }
    .testAnimate.ng-enter{ animation:slideInUp 0.5s both ease-in; }
</style>
<div class="home">
    <div class="container">
        <div class="row">
            <div class="nav main  col-md-10 col-sm-12 col-xs-12" ng-if="navShow" >
                <!--<h1>益等软件</h1>-->
                <img src="/image/logo.png" >
                <ul ng-show="isShowMenu">
                    <li ng-class="{'current':bar_index == 0}" ui-sref="home.homePage"  ng-click="changePage(0)">首页</li>
                    <li ng-class="{'current':bar_index == 1}" ui-sref="home.serviceProcess" ng-click="changePage(1)">服务流程</li>
                    <li ng-class="{'current':bar_index == 2}" ui-sref="home.mass" ng-click="changePage(2)">质量监督</li>
                    <li ng-class="{'current':bar_index == 3}" ui-sref="home.cases" ng-click="changePage(3)">经典案例</li>
                    <li ng-class="{'current':bar_index == 4}" ui-sref="home.joinUs" ng-click="changePage(4)">加入我们</li>
                    <li ng-class="{'current':bar_index == 5}" ui-sref="home.aboutUs" ng-click="changePage(5)">关于益等</li>
                </ul>
                <!--<button class="glyphicon glyphicon-list pull-right hidden-md hidden-lg "></button>-->
                <p ng-click="toggle()" class=" pull-right hidden-md hidden-lg"><img src="/image/menu.png" alt=""></p>
                <p class="tell hidden-md hidden-lg"><img src="/image/tell.png" alt="">400-800-100</p>


            </div>
        </div>
    </div>
</div>

<div ui-view="home" class="testAnimate" ng-hide="isLoading" ng-class="{'ng-enter':enter,'ng-leave':leave}"></div>

<div class="tell">
    <img src="/image/kefu.png" alt="">
    <p>400-800-200</p>
</div>

<div class="toTop">
    <img src="/image/to_top.png">
</div>
<div class="toBottom">
    <img src="/image/to_top.png">
</div>
<div class="loading" ng-show="isLoading">
    <img src="/image/loading_max.gif" >
    <p>加载中...</p>
</div>
