

<link rel="stylesheet" href="/css/homePage.css">


<div class="homePage">
    <div class="banner">
        <img src="/image/home-min-banner.png" class="hidden-md hidden-lg" alt="">
        <div class="msg hidden-xs hidden-sm" >
            <h4><span>用软件</span>重新定义世界</h4>
            <p>Using Software To Redefine The World</p>
        </div>
    </div>
    <div class="service">
        <h3>我们的服务</h3>
        <p>OUR SERVICE</p>
        <div class="container">
            <ul class="row">
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-2.png" alt="">
                        <p>移动互联网技术<br>大数据技术<br>云计算技术<br>iOS/安卓/微信开发<br>HTML5开发</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-1.png" alt="">
                        <p>客户洞察<br>竞争分析<br>技术策略</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-3.png" alt="">
                        <p>电子商务运营<br>行业应用线上推广<br>结合线下资源的推广策略</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-4.png" alt="">
                        <p>全渠道零售<br>跨境电子商务<br>O2O服务<br>企业管理</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-5.png" alt="">
                        <p>智慧养老<br>智能健康数据中心<br>医疗O2O服务<br>健康医疗保险<br>健康生活电子商务<br>HTML5开发</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/service-6.png" alt="">
                        <p>B2B电商平台<br>互联网+制造<br>行业软件定制开发</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="select">
        <h3>为什么选择我们</h3>
        <p>WHY TO CHOOSE YIDENG</p>
        <div class="container">
            <ul class="clearfix">
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-1.png">
                        <h4>全球化视野</h4>
                        <p>我们通过布局于全球的资源和服务体 系，保障我们的解决方案能适应全球 化的理念和使用需求。</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-2.png">
                        <h4>市场敏锐度</h4>
                        <p>我们始终走在行业前端，搜索和分析 第一手的行业发展资讯，研究用户、 探索未来科技，以帮助我们的客户始 终站在市场前沿。</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-3.png">
                        <h4>创新与创意</h4>
                        <p>我们将创新与创意实现在技术应用上， 不断带给企业创新理念和启发，创造全 新概念以增强企业的竞争优势。</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-4.png">
                        <h4>大规模集成</h4>
                        <p>我们帮助企业将现有的应用程序与新 的技术应用高效整合，为企业带来最 大便利，实现卓越绩效。</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-5.png">
                        <h4>高品质管理</h4>
                        <p>从设计、开发、集成到上线部署，我 们遵循国际化品质与标准，以及符合 中国本土适用性。</p>
                    </div>
                </li>
                <li class="clearfix col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="con">
                        <img src="/image/choose-6.png">
                        <h4>可持续发展</h4>
                        <p>我们为解决方案和项目建立一体化的 运营服务体系，提倡在提升客户体验 的同时，形成可持续发展的路径。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

