


<div class="joinUs">
    <div class="banner">
        <img src="/image/banner-3.png" class="hidden-md hidden-lg" alt="">
        <div class="msg hidden-xs hidden-sm" >
            <h4><span>来益等</span>时代赋予机遇</h4>
            <p>To Yideng, The Era Have Entrusted To Opportunities</p>
        </div>
    </div>
    <div class="step">
        <ul>
            <li>
                <div class="container">
                    <div class="info">
                        <h4>公司简介</h4>
                        <p>Company profile</p>
                    </div>
                    <div class="con" >
                        <h4>价值观</h4>
                        <p>如果你认同我们的价值观，你就是我们久违的那个人。 我们始终专注于行业的前沿，以专业精神为团队必备的素 养，体现我们的专业价值 </p>
                    </div>
                    <img src="/image/join_1.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con">
                        <h4>担当协作</h4>
                        <p>我们始终专注于行业的前沿，以专业精神为团队必备的素 养，体现我们的专业价值。我们众志一心提供最佳的客户 解决方案，并与客户精诚</p>
                    </div>
                    <img src="/image/join_2.png">
                </div>
            </li>
        </ul>
    </div>
    <div class="other">
        <div class="container">
            <img src="/image/position.png" >
            <div class="con">
                <h4>时代赋予机遇</h4>
                <p>无论你是何种方面的天才，我们都能帮助你展现天赋、创造价值、提升
                    魅力。业绩伙伴面向各业务领域的技术支持，共享服务面向外部的技术
                    框架，面向内部的技术共享，专家中心技术倡导与新技术应用。</p>

                <button>搜索职位</button>
            </div>
        </div>
    </div>
    <div class="contact_us">
        <h4>联系我们</h4>
        <p>Contact us</p>
        <div class="container">
            <div class="mapContainer" map id="map_current"></div>
            <div class="addr ">
                <p>公司电话：021-68882625<br>
                    简历投递邮箱：hr@yidengshop.com（详细职位请登录58、智联）<br>
                    地铁：11号线 三林站、8号线 凌兆新村站、6号线 灵岩南路站
                    公司地址：上海市浦东新区三林路424号金融众创空间510室
                </p>
            </div>
        </div>
    </div>
</div>
<!--<script>
    var mapObj = new M('map_current',13);
    console.log(M);
</script>-->

