

<link rel="stylesheet" href="/css/service.css">
<div id="service" full-page options="serviceOptions" >
    <div class="section" id="section0">
        <!--<div class="nav main">
            <h1>益等软件</h1>
            <img src="/image/logo.png" >
            <ul>
                <li class="current">首页</li>
                <li>服务流程</li>
                <li>质量监督</li>
                <li>经典案例</li>
                <li>加入我们</li>
                <li>关于益等</li>
            </ul>
        </div>-->

        <div class="msg">
            <h4><span>一站式</span>服务彰显专业</h4>
            <p>One-stop, Service Display  Professional</p>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="service main">
            <h4>服务彰显专业</h4>
            <p>SERVICE  PROFESSIONAL</p>
            <div class="con" >
                <ul class="images" ng-class="{'join':join,'leave':leave}">
                    <li><img src="/image/professional-1.png"></li>
                    <li><img src="/image/professional-2.png"></li>
                    <li><img src="/image/professional-3.png"></li>
                    <li><img src="/image/professional-4.png"></li>
                    <li><img src="/image/professional-5.png"></li>
                </ul>
                <div class="main_img">
                    <img src="/image/professional.png">
                    <p>服务彰显专业</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 3,'leave':leave_step == 3}">
            <img src="/image/Serviceprocess-1.png">
            <div class="con  fr" >
                <img src="/image/01.png">
                <p>越来越多的企业开始拥抱“互联网+”<br>
                    具备强大的“互联网+”战略<br>
                    在当前的时代背景下是至关重要的<br>
                    益等软件帮助企业设定有条不紊的企业“互联网+”策略<br>
                    结合企业的商业目标和“互联网+”大局<br>
                    定义企业自己的“互联网+”发展远景和路线图<br>
                    规划一个可行性的启动方案</p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main"  ng-class="{'join':join_step == 4,'leave':leave_step == 4}">
            <img src="/image/Serviceprocess-2.png">
            <div class="con  fr">
                <img src="/image/02.png">
                <p>项目计划从严谨的分析开始<br>
                    商业目标的理解<br>
                    投资回报评估<br>
                    技术方案详细说明<br>
                    SWOT分析<br>
                    产品可行性分析<br>
                    使用场景以及洞察<br>
                    同类产品分析<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 5,'leave':leave_step == 5}">
            <img src="/image/Serviceprocess-3.png">
            <div class="con  fr" >
                <img src="/image/03.png">
                <p>为了让您的用户在任何终端上<br>
                    都能获得绝佳的体验<br>
                    我们将在“视觉设计”“交互设计”“ 信息架构设计”<br>
                    这三个层面<br>
                    投入更多的注意力<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 6,'leave':leave_step == 6}">
            <img src="/image/Serviceprocess-4.png">
            <div class="con  fr" >
                <img src="/image/04.png">
                <p>技术并不是壁垒，数据才是<br>
                    我们将数据管理作为项目的重中之重<br>
                    结合到企业的“互联网+”研发中<br>
                    将数据的价值发挥到极致<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main"  ng-class="{'join':join_step == 7,'leave':leave_step == 7}">
            <img src="/image/Serviceprocess-5.png">
            <div class="con  fr">
                <img src="/image/05.png">
                <p>在“互联网+”时代<br>
                    “集成” 工作是在企业转型升级的第二阶段<br>
                    也是最为关键的阶段<br>
                    将传统的、陈旧的企业工作流和业务流彻底革新<br>
                    用新的管理模式让企业适应高速发展时代的需要<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 8,'leave':leave_step == 8}">
            <img src="/image/Serviceprocess-6.png">
            <div class="con  fr" >
                <img src="/image/06.png">
                <p>我们将通过测试版进行“质量流程控制”<br>
                    “性能测试”“体验测试”“安全测试”<br>
                    总结品质报告<br>
                    进一步优化保证其稳定性<br>
                    最终给用户呈现出最完美的状态<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 9,'leave':leave_step == 9}">
            <img src="/image/Serviceprocess-7.png">
            <div class="con  fr" >
                <img src="/image/07.png">
                <p>针对客户不同的业务形态<br>
                    运用不同的云服务（公有云、私有云、混合云）解决方案<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 10,'leave':leave_step == 10}">
            <img src="/image/Serviceprocess-8.png">
            <div class="con  fr" >
                <img src="/image/08.png">
                <p>在实际验证阶段<br>
                    不断接受客户的反馈<br>
                    将更好的方案落实到产品优化<br>
                </p>
            </div>
        </div>
    </div>
    <div class="section stepCom" >
        <div class="step main" ng-class="{'join':join_step == 11,'leave':leave_step == 11}">
            <img src="/image/Serviceprocess-9.png">
            <div class="con  fr" >
                <img src="/image/09.png">
                <p>我们提供持续服务<br>
                    希望能够帮助企业实现“互联网+”远景和路线图<br>
                    将最初的战略规划落实到持续的工作中<br>
                    ·网站               ·手机APP              ·微信<br>
                    ·应用软件         ·系统整合              ·业务整合<br>
                    ·大数据平台      ·跨平台数据共享<br>
                </p>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="container_main">
            <div class="partners">
                <h4>为什么选择我们</h4>
                <p>PARTNERS</p>
                <div class="con main">
                    <ul class="clearfix">
                        <li><img src="/image/par_1.png" alt=""></li>
                        <li><img src="/image/par_1.png" alt=""></li>
                        <li><img src="/image/par_1.png" alt=""></li>
                        <li><img src="/image/par_1.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="foot_nav">
                <div class="con main">

                </div>
            </div>
        </div>
    </div>
</div>
