

<link rel="stylesheet" href="/css/serviceProcess.css">


<div class="service_process">
    <div class="banner">
        <img src="{{rootPath}}/image/service-min-banner.png" class="hidden-md hidden-lg" alt="">
        <div class="msg hidden-xs hidden-sm" >
            <h4><span>一站式</span>服务彰显专业</h4>
            <p>One-stop, Service Display  Professional</p>
        </div>
    </div>
    <div class="service">
        <h4>服务彰显专业</h4>
        <p>SERVICE  PROFESSIONAL</p>
        <div class="con" >
            <ul class="images" ng-class="{'join':join,'leave':leave}">
                <li><img src="{{rootPath}}/image/professional-1.png"></li>
                <li><img src="{{rootPath}}/image/professional-2.png"></li>
                <li><img src="{{rootPath}}/image/professional-3.png"></li>
                <li><img src="{{rootPath}}/image/professional-4.png"></li>
                <li><img src="{{rootPath}}/image/professional-5.png"></li>
            </ul>
            <div class="main_img">
                <img src="{{rootPath}}/image/professional.png">
                <p>服务彰显专业</p>
            </div>
        </div>
        <img src="{{rootPath}}/image/service-min.png">
    </div>
    <div class="step ">
        <ul>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/01.png">
                        <p class="has_n">越来越多的企业开始拥抱“互联网+”<br>
                            具备强大的“互联网+”战略<br>
                            在当前的时代背景下是至关重要的<br>
                            益等软件帮助企业设定有条不紊的企业“互联网+”策略<br>
                            结合企业的商业目标和“互联网+”大局<br>
                            定义企业自己的“互联网+”发展远景和路线图<br>
                            规划一个可行性的启动方案
                        </p>
                        <p class="no_n">
                            越来越多的企业开始拥抱“互联网+”
                            具备强大的“互联网+”战略
                            在当前的时代背景下是至关重要的
                            益等软件帮助企业设定有条不紊的企业“互联网+”策略
                            结合企业的商业目标和“互联网+”大局
                            定义企业自己的“互联网+”发展远景和路线图
                            规划一个可行性的启动方案
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-1.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con">
                    <img src="{{rootPath}}/image/02.png">
                    <p class="has_n">项目计划从严谨的分析开始<br>
                        商业目标的理解<br>
                        投资回报评估<br>
                        技术方案详细说明<br>
                        SWOT分析<br>
                        产品可行性分析<br>
                        使用场景以及洞察<br>
                        同类产品分析<br>
                    </p>
                    <p class="no_n">
                        项目计划从严谨的分析开始
                        商业目标的理解
                        投资回报评估
                        技术方案详细说明
                        SWOT分析
                        产品可行性分析
                        使用场景以及洞察
                        同类产品分析
                    </p>
                </div>
                    <img src="{{rootPath}}/image/Serviceprocess-2.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/03.png">
                        <p class="has_n">为了让您的用户在任何终端上<br>
                            都能获得绝佳的体验<br>
                            我们将在“视觉设计”“交互设计”“ 信息架构设计”<br>
                            这三个层面<br>
                            投入更多的注意力<br>
                        </p>
                        <p class="no_n">
                            为了让您的用户在任何终端上
                            都能获得绝佳的体验
                            我们将在“视觉设计”“交互设计”“ 信息架构设计”
                            这三个层面
                            投入更多的注意力
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-3.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/04.png">
                        <p class="has_n">技术并不是壁垒，数据才是<br>
                            我们将数据管理作为项目的重中之重<br>
                            结合到企业的“互联网+”研发中<br>
                            将数据的价值发挥到极致<br>
                        </p>
                        <p class="no_n">
                            技术并不是壁垒，数据才是
                            我们将数据管理作为项目的重中之重
                            结合到企业的“互联网+”研发中
                            将数据的价值发挥到极致
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-4.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con">
                        <img src="{{rootPath}}/image/05.png">
                        <p class="has_n">在“互联网+”时代<br>
                            “集成” 工作是在企业转型升级的第二阶段<br>
                            也是最为关键的阶段<br>
                            将传统的、陈旧的企业工作流和业务流彻底革新<br>
                            用新的管理模式让企业适应高速发展时代的需要<br>
                        </p>
                        <p class="no_n">
                            在“互联网+”时代
                            “集成” 工作是在企业转型升级的第二阶段
                            也是最为关键的阶段
                            将传统的、陈旧的企业工作流和业务流彻底革新
                            用新的管理模式让企业适应高速发展时代的需要
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-5.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/06.png">
                        <p class="has_n">我们将通过测试版进行“质量流程控制”<br>
                            “性能测试”“体验测试”“安全测试”<br>
                            总结品质报告<br>
                            进一步优化保证其稳定性<br>
                            最终给用户呈现出最完美的状态<br>
                        </p>
                        <p class="no_n">
                            我们将通过测试版进行“质量流程控制”
                            “性能测试”“体验测试”“安全测试”
                            总结品质报告
                            进一步优化保证其稳定性
                            最终给用户呈现出最完美的状态
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-6.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con " >
                        <img src="{{rootPath}}/image/07.png">
                        <p class="has_n">针对客户不同的业务形态<br>
                            运用不同的云服务（公有云、私有云、混合云）解决方案<br>
                        </p>
                        <p class="no_n">
                            针对客户不同的业务形态
                            运用不同的云服务（公有云、私有云、混合云）解决方案
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-7.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/08.png">
                        <p class="has_n">在实际验证阶段<br>
                            不断接受客户的反馈<br>
                            将更好的方案落实到产品优化<br>
                        </p>
                        <p class="no_n">
                            在实际验证阶段
                            不断接受客户的反馈
                            将更好的方案落实到产品优化
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-8.png">
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="con" >
                        <img src="{{rootPath}}/image/09.png">
                        <p class="has_n">我们提供持续服务<br>
                            希望能够帮助企业实现“互联网+”远景和路线图<br>
                            将最初的战略规划落实到持续的工作中<br>
                            ·网站               ·手机APP              ·微信<br>
                            ·应用软件         ·系统整合              ·业务整合<br>
                            ·大数据平台      ·跨平台数据共享<br>
                        </p>
                        <p class="no_n">
                            我们提供持续服务
                            希望能够帮助企业实现“互联网+”远景和路线图
                            将最初的战略规划落实到持续的工作中
                            ·网站               ·手机APP              ·微信
                            ·应用软件         ·系统整合              ·业务整合
                            ·大数据平台      ·跨平台数据共享
                        </p>
                    </div>
                    <img src="{{rootPath}}/image/Serviceprocess-9.png">
                </div>
            </li>
        </ul>
    </div>
</div>

